/******************************************************************************
Main Grid Container
*******************************************************************************/

.container{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px repeat(6, 1fr) 40px;
  grid-gap: 0.3%;
}

/******************************************************************************
header
*******************************************************************************/

.header-left{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: none;
}


.header-right{
  display: flex;
  justify-content: space-around;
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.header-right p{
  align-self: center;
  font-family: "Sacramento";
  font-size: 35px;
}

.header-right img{
  height: 100%;
}



/******************************************************************************
Grid Left
*******************************************************************************/

.analog {
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 4;
  grid-row: 2 / 8;
}

.bio{
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: #f565654d;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.bio:hover{
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: #ff16164d;
}

.bio p{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color: #cb8787;
}




/******************************************************************************
Grid Center
*******************************************************************************/
.logo-center{
  background-image: url("images/cat1.png");
  background-size: 100% 100%;
  grid-column: 2 / 6;
  grid-row: 3 / 7;
  z-index: 80000;
}


/******************************************************************************
Grid Right
*******************************************************************************/

.digital-1 {
  background-image: url("images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 4 / 7;
  grid-row: 2 / 4;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}


.digital-2 {
  background-image: url("images/road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}


.digital-3 {
  background-image: url("images/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 4 / 7;
  grid-row: 6 / 8;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}


/******************************************************************************
Footer
*******************************************************************************/
.footer {
  grid-row: 7 / 8;
  grid-column: 1 / end;
  background: #262626;
}

/******************************************************************************
Responsive
*******************************************************************************/
@media screen and (max-width: 680px){

.container{
  grid-template-columns: 1fr;
}

.header-center,
.header-right{
  display: none;
}

body{
  overflow: scroll;
}







}
